@import './global.scss';

// color
$green: var(--color-green);
$blue: var(--color-blue);
$yellow: var(--color-yellow);
$red: var(--color-red);
$extra-lightgrey: var(--color-extra-lightgrey);
$lightgrey: var(--color-lightgrey);
$grey: var(--color-grey);
$darkgrey: var(--color-darkgrey);
$dimmed: var(--color-dimmed);
$dark: var(--color-dark);

// font-size
$font-light: var(--font-light);
$font-regular: var(--font-regular);
$font-medium: var(--font-medium);
$font-semimBold: var(--font-semimBold);
$font-bold: var(--font-bold);
